<section class="center">
  <% if current_client.errors.any? %>
    <%= current_client.errors.to_json %>
  <% end %>
  <%= form_for current_client, url: mon_compte_path do |f| %>
    <h1>Mon compte</h1>
    <p><%= f.label :last_name, 'Nom de famille' %><%= f.text_field :last_name, required: true %></p>
    <p><%= f.label :first_name, 'Prénom' %><%= f.text_field :first_name, required: true %></p>
    <p><%= f.label :birth_date, 'Date de naissance (DD/MM/YYYY)' %><%= f.text_field :birth_date, required: true %></p>
    <p><%= f.label :male, 'Genre' %><%= f.select :male, [['Homme', 'true'], ['Femme', 'false']], required: true %></p>
    <p><%= f.label :objectives, 'Vos objectifs' %><%= f.select :objectives, [['Sport', 'sport'], ['Santé', 'health'], ['Bien-être', 'well-being'], ['Esthétique', 'look']], { prompt: nil }, { multiple: true } %>
  <p><%= f.check_box :newsletter %><%= f.label :newsletter, "Je souhaite m'inscrire à la newsletter" %></p>
  <hr>
  <p><%= f.label :email, 'Adresse email' %><%= f.email_field :email, required: true %></p>
  <p><%= f.label :password, 'Nouveau mot de passe (laissez vide si vous ne souhaitez pas changer)' %><%= f.password_field :password %></p>
  <p style="display: none" id="password-2"><%= f.label :password_2, 'Confirmez le nouveau mot de passe' %><%= f.password_field :password_2 %></p>
  <button>Enregister les modifications</button>
  <hr>
  <button type="button" onclick="window.location.href='/mes-donnees.csv'">Extraire mes données personnelles</button>
<% end %>
</section>

<script>
  $(document).ready(function() {
    $('input#client_password').on('change', function() {
      const val = $(this).val();
      if (val) {
        $('p#password-2').slideDown();
      } else {
        $('p#password-2').slideUp();
      }
    });
  });
</script>
