<div id="search">
  <i class="fas fa-search fa-lg"></i>
  <input type="text" placeholder="Rechercher parmi les codes promo.." id="search">
  <%= render 'filter' %>
  <button data-target="#new-coupon" class="blue">Nouveau code promo</button>
</div>

<table>
  <tr>
    <th style="width: 10%"></th> 
    <th style="width: 20%"></th>
    <% if current_user.superuser %>
      <th>Centre(s)</th>
    <% end %>
    <th>Code</th>
    <th>Valeur</th>
    <th>Date de début</th>
    <th>Date de fin</th>
    <th>Quota d'utilisation</th>
  </tr>
  <% @coupons.each do |coupon| %>
    <tr onclick="window.location.href='/codes-promo/<%= coupon.id %>'">
      <td>
        <span class="status <%= coupon.active? ? 'paid' : 'failed' %>">
          <%= coupon.active? ? 'Actif' : 'Expiré' %>
        </span>
      </td>
      <td><strong><%= coupon.name %></strong></td>
      <% if current_user.superuser %>
        <td><%= coupon.franchises.pluck(:name).join(' - ') %></td>
      <% end %>
      <td><span class="uppercase"><%= coupon.code %></span></td>
      <td>
        <%= coupon.value %><%= coupon.percentage ? '%' : '€' %>
      </td>
      <td>
        <%= coupon.start_date.present? ? l(coupon.start_date, format: :short) : '∅' %>
      </td>
      <td>
        <%= coupon.end_date.present? ? l(coupon.end_date, format: :short) : '∅' %>
      </td>
      <td>
        <%= coupon.usage_limit ? coupon.usage_limit : 'Illimité' %>
      </td>
    </tr>
  <% end %>
</table>

<div class="modal" id="new-coupon">
  <h2>Nouveau code promo</h2>
  <%= render 'form' %>
</div>
