<div id="search">
  <i class="fas fa-search fa-lg"></i>
  <input type="text" placeholder="Rechercher parmi les clients pros.." id="search">
  <%= render 'filter' %>
  <button data-target="#new-company" class="blue">Nouveau client pro</button>
  <button onclick="window.location.href='/entreprises.csv'">Exporter la liste</button>
</div>

<table>
  <tr>
    <th style="width: 20%"></th>
    <% if current_user.superuser %>
      <th>Centre</th>
    <% end %>
    <th>Email</th>
    <th>Téléphone</th>
  </tr>
  <% @companies.each do |company| %>
    <tr onclick="window.location.href='/entreprises/<%= company.id %>'">
      <td><strong><%= company.name %></strong></td>
      <% if current_user.superuser %>
        <td><%= company.franchise.name %></td>
      <% end %>
      <td><%= company.email %></td>
      <td><%= company.phone %></td>
    </tr>
  <% end %>
</table>

<div class="modal" id="new-company">
  <h2>Nouveau client professionnel</h2>
  <%= render 'form' %>
</div>
